*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
}

.header {
   display: flex;
   width: 100%;
   height: 11vh;
   justify-content: space-around;
   align-items: center;
}

.header .bg {
   background-color: #800000;
   width: 69.5%;
   position: absolute;
   left: 0;
   height: 11vh;
   z-index: -1;
}

.header .diamond {
   background-color: #800000;
   height: 8vh;
   transform: rotate(45deg);
   position: absolute;
   left: 1030px;
   width: 55px;
   z-index: 1;
}

.header h5{
   font-size: 25px;
   position: relative;
   right: 100px;
   color: white;
}

.header p {
    font-size: smaller;
    position: relative;
    left: 90px;
}

.header img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 75px;
}

/* SIDEBAR */

.sidebar {
    width: 15%;
    height: 91vh;
    background-color: #800000;

  }
 
  .sidebar ul {
    list-style-type: none;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
  }
 .sidebar ul li {
    margin-top: 10px;
    padding-left: 20px;
  }
 
 .sidebar ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 100;
 }
 
 .sidebar ul li a .fa-solid {
    margin-right: 7px;
 }
 
 .sidebar ul li.active{
    background-color: #f4d71b;
    width: 100%;
    height: 32px;
    border-left: 6px solid black;
    padding: 5px;
    padding: 5px 15px;
 }

 .sidebar ul li.active a {
    color: black;
 }

 /* CONTENTS */

 .content {
    position: relative;
    top: -638px;
    left: 385px;
    width: 65%;
    height: 585px;
    /* background-color: #888; */
 }

 .content .student-information {
    width: 100%;
    height: 225px;
    border: 2px solid #800000;
    display: flex;
    align-items: center;
 }

 .content .student-information .stud-info {
    position: absolute;
    top: 10px;
    left: 30px;
 }

 .content .student-information .stud-info p {
    font-weight: 600;
 }
 .content .student-information .info {
    position: relative;
    left: 70px;
    top: 12px;
    padding: 10px;
 }

 .content .student-information .info table, td{
    text-align: left;
    border: 1px solid #800000;
    border-collapse: collapse;
 }

 .content .student-information .info table tr td.head{
    width: 200px;
 }

 .content .student-information .info table tr td{
    width: 400px;
    padding: 10px;
 }
 
 .content .student-information .dp img{
    position: absolute;
    left: 73.3%;
    top:0;
    height: 225px;
    width: 230px;
    border-left: 2px solid #800000;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
 }

 .content .personal-information {
   margin-top: 20px;
   border: 2px solid #800000;
   height: 335px;
 }

 .content .personal-information .personal-info  {
    position: relative;
    top: 10px;
    left: 30px;
  }

  .content .personal-information .personal-info p {
    font-weight: 600;
  }

  .content .personal-information .info {
    position: relative;
    left: 7px;
    top: 12px;
    padding: 10px;
  }

  .content .personal-information .info table, td {
    text-align: left;
    border: 1px solid #800000;
    border-collapse: collapse;
  }

  .content .personal-information .info table tr td.head{
    width: 150px;
 }

 .content .personal-information .info table tr td{
    width: 270px;
    padding: 10px;
 }